/* styles/globals.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #fff;
  background-color: #0a0f24;
  line-height: 1.6;
}

h1, h2 {
  font-weight: 600;
}

p {
  margin: 0.5em 0;
}
